.KeyFrameMarker {
    /* GUIState.background */
    background-image: resource("Packages/com.unity.meshsync/Editor/StyleSheets/Images/DarkSkin/KeyFrameMarker.png");
}

.KeyFrameMarker:hover:focus:checked {
    /* GUIState.background */
    background-image: resource("Packages/com.unity.meshsync/Editor/StyleSheets/Images/DarkSkin/KeyFrameMarkerSelected.png");
}
