.FrameMarker {
    /* GUIState.background */
    background-image: resource("Packages/com.unity.meshsync/Editor/StyleSheets/Images/LightSkin/FrameMarker.png");
}

.FrameMarker:hover:focus:checked {
    /* GUIState.background */
    background-image: resource("Packages/com.unity.meshsync/Editor/StyleSheets/Images/LightSkin/FrameMarkerSelected.png");
}
