*.ipch
*.sdf
*.opendb
*.db
*.user
*.log
*.tlog

*.exe
*.dll
*.bundle
*.dylib
*.so
*.exr
*.gif
*.png
*.mp4
*.h264
*.aac
*.webm
*.ogg
*.flac
*.wav
*.zip
*.mll
*.unitypackage

.vs/
_out/
_tmp/
_build_*/
external/
Library/
Temp/
TestLocal/
TestLocal.meta

MeshSync/*.csproj
MeshSync/*.sln

Plugin/UnityMeshSync for*/
NormalPainter/
NormalPainter.meta
