*.o
*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb

*.exe
*.dll
*.so
*.dylib

Makefile

_out/
_tmp/
External/
Library/
Temp/
Build/
Hidden/
Hidden.meta
obj/
Plugin/build_*
CMakeFiles/
CMakeCache.txt
USDForUnity/*.sln
USDForUnity/*.csproj
bin/

MeshUtilsCore.h
/USDForUnity/Assets/UTJ/Plugins/x86_64/usdi.bundle/Contents/MacOS/usdi
/USDForUnity/Assets/UTJ/Plugins/x86_64/usdiRT.bundle/Contents/MacOS/usdiRT
