*.user

*.aps
*.DS_Store
*.unitypackage

*.exr
*.gif
*.png
*.mp4
*.h264
*.aac
*.webm
*.ogg
*.flac
*.wav
*.zip
*.mll
*.unitypackage

.vs/
_out/
_tmp/
_build_*/
external/
Library/
Temp/
obj/
TestLocal/
TestLocal.meta

.MeshSync/*.csproj
.MeshSync/*.sln
.MeshSync/Plugin/dist/
.MeshSync/Plugin/MeshSyncClientBlender2.*/
.MeshSync/Plugin/MeshSyncClientMaya20*/
.MeshSync/Plugin/MeshSyncClientMayaLT20*/
.MeshSync/Plugin/MeshSyncClientMotionBuilder20*/
.MeshSync/Plugin/MeshSyncClientMQ4.*/
MeshSyncAssets/
MeshSyncAssets.meta