* text=auto
*.h text
*.c text
*.hpp text
*.cpp text
*.cs text
*.mel text
*.py text
*.txt text
*.md text
*.sc binary

*.meta text eol=lf
*.bat text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
